.vs/
packages
CryptoAnalysatorWebApp/obj/
CryptoAnalysatorWebApp/bin/
CryptoAnalysatorWebApp/Properties/
CryptoAnalysatorWebApp/wwwroot/.idea/
CryptoAnalysatorWebApp/wwwroot/client/package-lock.json
CryptoAnalysatorWebApp/wwwroot/client/node_modules/



